.wordcode {
  font-family: "Lucida Console", monospace;
}



code {
  font-family: "Lucida Console", monospace;
  white-space: pre-wrap;
}
.code {
  margin: 40px 0;
  padding: 20px 0;
  border: 1px dashed #888888;
  border-left: 8px solid firebrick;
}

.hiddencode {
  opacity:0;
}

.hiddencode:hover {
  opacity: 1;
}

.output{
  margin: 40px 0;
  padding: 20px 0;
  border: 1px dashed #888888;
  border-left: 8px solid darkolivegreen;
}

  .keyword {
    color: coral;
  }

  .symbol {
    color: blueviolet;
  }

  .number {
    color: cornflowerblue;
  }

  .nativeFunc {
    color: darkorchid;
  }

  .string {
    color: forestgreen;
  }

  .lineComment {
    color: grey;
  }

.string > span {
  color: inherit;
}

.lineComment > span {
  color: inherit;
}
