body {
  font-family: Helvetica, sans-serif;
  font-size: 140%;
}

main {
  width: 66vw;
  max-width: 1000px;
  margin: 5vh auto 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

a:hover {
  color: unset;
}

a:visited {
  color: cornflowerblue;
}

.topnav {
  width: 80vw;
  min-width: 1000px;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "name . . mainnav"
  "line line line line";
}
.topnav a{
  font-size: 120%;
  margin-top: 30px;
  text-decoration: none;
  color: black;
}

.topnav a:hover {
  text-decoration: none;
  color: cornflowerblue;
}

.homepage {
  grid-area: name;
}

.mainnav {
  grid-area: mainnav;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "about articles";
}

#about {
  display: inline;
  grid-area: about;
}

#articles {
  display: inline;
  grid-area: articles;
}


.topnav hr {
  grid-area: line;
}

.current.current {
  border-bottom: coral solid 4px;
}
